
<nav class="navbar navbar-expand-lg navbar-dark bg-light text-dark"  >
  <a class="navbar-brand" href="/index.html">
  <img src="/assets/logo.png"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse human-nav-bar" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" id="nav-index">
        <a class="nav-link" href="/index.html">Home </a>
      </li>
      <li class="nav-item" id="nav-feature">
        <a class="nav-link" href="/html/features.html">Testimonials </a>
      </li>
      <li class="nav-item" id="nav-developer">
        <a class="nav-link" href="/html/developer.html">About The Developer</a>
      </li>
      <li class="nav-item" id="nav-contact">
        <a class="nav-link" href="/html/contact.html">Contact us </a>
      </li>
     
      
    </ul>
  </div>
</nav>
